.admin-form-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #D9D9D9;
}

.admin-form-header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: var(--dl-size-size-xlarge);
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.admin-form-navbar-interactive {
  width: 90%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}

.admin-form-navlink {
  display: contents;
}

.admin-form-image {
  width: 105px;
  height: 97px;
  object-fit: cover;
  text-decoration: none;
}

.admin-form-links {
  flex: 1;
  width: 638px;
  height: 97px;
  display: flex;
  align-items: center;
  padding-left: 2px;
  flex-direction: row;
  justify-content: center;
}

.admin-form-nav1 {
  font-size: 24px;
  transition: 0.3s;
  text-decoration: none;
}

.admin-form-nav1:hover {
  color: #3d6e70ff;
}

.admin-form-nav2 {
  font-size: 24px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.admin-form-nav2:hover {
  color: #3d6e70ff;
}

.admin-form-nav4 {
  font-size: 24px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.admin-form-nav4:hover {
  color: #3d6e70ff;
}

.admin-form-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}

.admin-form-nav5:hover {
  color: #3d6e70ff;
}

.admin-form-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}

.admin-form-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.admin-form-burger-menu {
  display: none;
}

.admin-form-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}

.admin-form-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}

.admin-form-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.admin-form-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.admin-form-logo {
  font-size: 2em;
  font-weight: bold;
}

.admin-form-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-form-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}

.admin-form-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.admin-form-nav11 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}

.admin-form-nav21 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}

.admin-form-nav3 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}

.admin-form-nav41 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}

.admin-form-nav51 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}

.admin-form-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.admin-form-login {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}

.admin-form-register {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}

.admin-form-register:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}

.admin-form-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.admin-form-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.admin-form-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.admin-form-add-new-product {
  top: 6em;
  left: 6.5em;
  color: var(--dl-color-gray-black);
  position: absolute;
  font-size: 38px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-style: normal;
  text-align: left;
  font-family: "Nunito";
  font-weight: 500;
  border-radius: var(--dl-radius-radius-radius2);
}

.admin-form-form-container {
  top: 17em;
  left: 0px;
  right: 0px;
  width: 1019px;
  height: 25%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.admin-form-form {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}

.admin-form-price {
  top: 0px;
  left: 25.5%;
  width: 24%;
  height: 47.25%;
  position: absolute;
  align-self: flex-end;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
}

.admin-form-quantity {
  left: 25.5%;
  width: 24%;
  bottom: 3%;
  height: 47.25%;
  position: absolute;
  align-self: flex-end;
  border-radius: 8px;
  padding-right: var(--dl-space-space-oneandhalfunits);
}

.admin-form-name-form {
  top: 0px;
  left: 0.5%;
  width: 24%;
  height: 47.25%;
  position: absolute;
  align-self: flex-start;
  border-radius: 8px;
  padding-right: 4px;
}

.admin-form-description-text {
  top: 0px;
  flex: 0 0 auto;
  left: left;
  right: 0.5%;
  width: 49%;
  height: 95%;
  display: flex;
  position: absolute;
  align-items: flex-start;
}

.admin-form-container2 {
  right: 0px;
  width: 501px;
  bottom: 0px;
  height: 110%;
  position: absolute;
}

.admin-form-container3 {
  display: contents;
}

.admin-form-select {
  left: 0.5%;
  width: 24%;
  bottom: 3%;
  height: 47.25%;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 8px;
}

.admin-form-container4 {
  left: 275px;
  width: 210px;
  bottom: -61px;
  position: absolute;
}

.admin-form-container5 {
  display: contents;
}

.admin-form-submit-button {
  right: 2px;
  width: 502px;
  bottom: -48px;
  height: 50px;
  position: absolute;
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: #000000;
}

.admin-form-submit-button:hover {
  transform: scale(1.02);
}

.admin-form-text2 {
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.admin-form-footer {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: -200px;
  height: auto;
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}

.admin-form-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}

.admin-form-container6 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.admin-form-logo1 {
  color: var(--dl-color-gray-white);
  font-size: 2em;
  font-weight: bold;
}

.admin-form-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}

.admin-form-nav12 {
  color: var(--dl-color-secondary-gray500);
  margin-left: 0px;
  text-decoration: none;
}

.admin-form-nav22 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.admin-form-nav31 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.admin-form-nav42 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.admin-form-nav52 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.admin-form-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-800);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.admin-form-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.admin-form-text5 {
  color: var(--dl-color-secondary-gray500);
}

.admin-form-icon-group1 {
  top: -20px;
  right: 0px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.admin-form-link {
  display: contents;
}

.admin-form-icon10 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}

.admin-form-link1 {
  display: contents;
}

.admin-form-icon12 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}

.admin-form-link2 {
  display: contents;
}

.admin-form-icon14 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  text-decoration: none;
}

@media(max-width: 767px) {
  .admin-form-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .admin-form-desktop-menu {
    display: none;
  }

  .admin-form-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .admin-form-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .admin-form-nav11 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .admin-form-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .admin-form-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .admin-form-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .admin-form-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .admin-form-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .admin-form-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .admin-form-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .admin-form-text5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

@media(max-width: 479px) {
  .admin-form-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }

  .admin-form-mobile-menu {
    padding: 16px;
  }

  .admin-form-logo {
    font-size: 1.5em;
  }

  .admin-form-icon02 {
    fill: var(--dl-color-gray-900);
  }

  .admin-form-footer1 {
    padding: var(--dl-space-space-unit);
  }

  .admin-form-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .admin-form-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .admin-form-text5 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}