.product-list-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
}
.product-list-header {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.product-list-navbar-interactive {
  width: 90%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.product-list-image {
  width: 105px;
  height: 97px;
  object-fit: cover;
}
.product-list-links {
  flex: 1;
  width: 638px;
  height: 97px;
  display: flex;
  align-items: center;
  padding-left: 2px;
  flex-direction: row;
  justify-content: center;
}
.product-list-nav1 {
  font-size: 24px;
  transition: 0.3s;
  text-decoration: none;
}
.product-list-nav1:hover {
  color: #3d6e70ff;
}
.product-list-nav2 {
  font-size: 24px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.product-list-nav2:hover {
  color: #3d6e70ff;
}
.product-list-nav3 {
  font-size: 24px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.product-list-nav3:hover {
  color: #3d6e70ff;
}
.product-list-nav4 {
  font-size: 24px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.product-list-nav4:hover {
  color: #3d6e70ff;
}
.product-list-text:hover {
  color: #3d6e70ff;
}
.product-list-text1:hover {
  color: #3d6e70ff;
}
.product-list-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.product-list-nav5:hover {
  color: #3d6e70ff;
}
.product-list-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.product-list-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.product-list-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}

.product-list-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-list-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.product-list-logo {
  font-size: 2em;
  font-weight: bold;
}
.product-list-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-list-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.product-list-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.product-list-nav11 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.product-list-nav21 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.product-list-nav31 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.product-list-nav41 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.product-list-nav51 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.product-list-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.product-list-container2 {
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  margin-right: auto;
  margin-left: auto;
}
.product-list-navlink {
  display: contents;
}
.product-list-product-container {
  top: 122px;
  right: 60px;
  width: 301px;
  height: 303px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.product-list-image1 {
  width: 200px;
  object-fit: cover;
}
.product-list-text3 {
  left: 100px;
  right: 0px;
  bottom: 18px;
  margin: auto;
  position: absolute;
  font-size: 26px;
  font-family: "Nunito";
  font-weight: 700;
  text-transform: none;
  text-decoration: underline;
}
.product-list-navlink1 {
  display: contents;
}
.product-list-product-container1 {
  top: 122px;
  left: 60px;
  width: 301px;
  height: 303px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.product-list-image2 {
  width: 200px;
  object-fit: cover;
}
.product-list-text4 {
  left: 100px;
  right: 0px;
  bottom: 18px;
  margin: auto;
  position: absolute;
  font-size: 26px;
  font-family: "Nunito";
  font-weight: 700;
  text-transform: none;
  text-decoration: underline;
}
.product-list-navlink2 {
  display: contents;
}
.product-list-product-container2 {
  top: 122px;
  left: 0px;
  right: 0px;
  width: 301px;
  height: 303px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.product-list-image3 {
  width: 200px;
  object-fit: cover;
}
.product-list-text5 {
  left: 100px;
  right: 0px;
  bottom: 18px;
  margin: auto;
  position: absolute;
  font-size: 26px;
  font-family: "Nunito";
  font-weight: 700;
  text-transform: none;
  text-decoration: underline;
}
@media(max-width: 767px) {
  .product-list-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .product-list-desktop-menu {
    display: none;
  }
  .product-list-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-list-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .product-list-nav11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .product-list-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .product-list-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .product-list-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .product-list-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .product-list-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }
  .product-list-mobile-menu {
    padding: 16px;
  }
  .product-list-logo {
    font-size: 1.5em;
  }
  .product-list-icon02 {
    fill: var(--dl-color-gray-900);
  }
}
.product_box {
  width: 100%;
  background-color: #ffffff;
  height: auto;
  border: 1px solid #7d7d7c;
  padding: 20px 0px 0px 0px;
  margin-top: 30px;
}
.bursh_text {
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #1a1c1b;
  font-weight: 600;
}
.btn_main {
  width: 100%;
  display: flex;
  height: auto;
  padding: 20px 10px 13px 10px;
}
.info_bt {
  float: left;
  width: 50%;
}

.info_bt a {
  float: left;
  font-size: 12px;
  color: #ffffff;
  padding: 5px 10px;
  background-color: #272727;
  text-transform: uppercase;
  margin-right: 5px;
  border-radius: 40px;
}

.info_bt a:hover {
  background-color: #3C2881;
  color: #ffffff;
}
.info_bt a:active {
  background-color: #f5ddb6;
  color: #fff;
}
.price_text {
  font-size: 16px;
  color: black;
  width: 42%;
  padding-top: 5px;
  text-align: right;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.prImage{
  width: 100%;
  text-align: center;
  margin: 20px 0px;
  padding: 0px 20px;
  height: 200px;
}
