.register-page-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
  border-top-width: 3px;
}
.register-page-ecig-picture {
  top: 30px;
  left: 40px;
  width: 105px;
  height: 97px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.register-page-backround {
  top: 46px;
  left: 193px;
  width: 1200px;
  height: 640px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  text-align: center;
  align-items: flex-end;
  line-height: 2;
  padding-top: 37px;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.register-page-username-member {
  top: 200px;
  left: 210px;
  width: 200px;
  height: 35px;
  position: absolute;
  padding-top: 2px;
  border-width: 0px;
  background-color: #d9d9d9;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.register-page-username-member1 {
  top: 150px;
  left: 210px;
  width: 200px;
  height: 35px;
  position: absolute;
  padding-top: 2px;
  border-width: 0px;
  padding-bottom: 0px;
  background-color: #d9d9d9;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.register-page-username-admin {
  top: 200px;
  left: 430px;
  width: 200px;
  height: 35px;
  position: absolute;
  border-width: 0px;
  padding-left: 62px;
  padding-right: 0px;
  background-color: #d9d9d9;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.register-page-username-admin1 {
  top: 150px;
  left: 430px;
  width: 200px;
  height: 35px;
  position: absolute;
  border-width: 0px;
  background-color: #d9d9d9;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.register-page-password-admin {
  top: 300px;
  left: 430px;
  width: 200px;
  height: 35px;
  position: absolute;
  border-width: 0px;
  background-color: #d9d9d9;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.register-page-password-member {
  top: 250px;
  left: 210px;
  width: 420px;
  height: 35px;
  position: absolute;
  border-width: 0px;
  background-color: #d9d9d9;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.register-page-password-member1 {
  top: 300px;
  left: 210px;
  width: 200px;
  height: 35px;
  position: absolute;
  border-width: 0px;
  background-color: #d9d9d9;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.register-page-member-login {
  top: 360px;
  left: 208px;
  width: 216px;
  height: 50px;
  position: absolute;
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
}
.register-page-member-login:hover {
  transform: scale(1.02);
}
.register-page-text {
  color: rgb(255, 255, 255);
}
.register-page-text1:hover {
  transform: scale(1.02);
}
.register-page-login-header {
  top: 80px;
  left: 210px;
  position: absolute;
  font-size: 28px;
  text-transform: capitalize;
}
.register-page-sign-up-button {
  top: 389px;
  left: 438px;
  position: absolute;
  font-size: 12px;
  text-transform: capitalize;
  text-decoration: underline;
}
.register-page-image {
  top: 122px;
  left: 767px;
  width: 296px;
  height: 323px;
  position: absolute;
  object-fit: cover;
}
.register-page-text5 {
  top: 200px;
  left: 450px;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.register-page-footer {
  flex: 0 0 auto;
  right: 1px;
  width: 100%;
  bottom: 0px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.register-page-footer1 {
  width: 100%;
  height: 252px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.register-page-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.register-page-logo {
  color: var(--dl-color-gray-white);
  font-size: 2em;
  font-weight: bold;
}
.register-page-navlink1 {
  display: contents;
}
.register-page-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.register-page-nav1 {
  color: var(--dl-color-secondary-gray500);
  margin-left: 0px;
}
.register-page-nav2 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.register-page-nav3 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.register-page-nav4 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.register-page-nav5 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.register-page-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-800);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.register-page-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.register-page-text8 {
  color: var(--dl-color-secondary-gray500);
}
.register-page-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.register-page-link {
  display: contents;
}
.register-page-icon {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.register-page-link1 {
  display: contents;
}
.register-page-icon2 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.register-page-link2 {
  display: contents;
}
.register-page-icon4 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 767px) {
  .register-page-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .register-page-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .register-page-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .register-page-text8 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .register-page-backround {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .register-page-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .register-page-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .register-page-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .register-page-text8 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
