.container {
    width: 100%;
    display: flex;
    overflow: auto;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    min-height: 100vh;
    align-items: flex-end;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    flex-direction: column;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%, rgb(255, 255, 255) 100.00%);
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
}

.navbar-interactive {
    width: 90%;
    display: flex;
    position: sticky;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    border-radius: 50px;
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
}

.image {
    width: 105px;
    height: 97px;
    object-fit: cover;
}

.container1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: space-between;
    flex-direction: column;
}

.desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.links {
    flex: 1;
    width: 638px;
    height: 97px;
    display: flex;
    align-items: center;
    padding-left: 2px;
    flex-direction: row;
    justify-content: center;
}

.nav1 {
    font-size: 24px;
    transition: 0.3s;
    text-decoration: none;
}

.nav1:hover {
    color: #3d6e70ff;
}

.nav2 {
    font-size: 24px;
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
}

.nav2:hover {
    color: #3d6e70ff;
}

.nav3 {
    font-size: 24px;
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.nav3:hover {
    color: #3d6e70ff;
}

.nav4 {
    font-size: 24px;
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
}

.nav4:hover {
    color: #3d6e70ff;
}

.nav5 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}

.nav5:hover {
    color: #3d6e70ff;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.login {
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    margin-right: var(--dl-space-space-twounits);
    padding-left: 1.5rem;
    border-radius: 45px;
    padding-right: 1.5rem;
}

.register {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    font-weight: bold;
    border-color: var(--dl-color-primary1-blue100);
    padding-left: 1.5rem;
    border-radius: 45px;
    padding-right: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
}

.register:hover {
    border-color: rgba(41, 20, 119, 0.9);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgba(41, 20, 119, 0.9);
}

.burger-menu {
    display: none;
}

.icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
}

.mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dl-color-gray-white);
}

.nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

.close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon02 {
    fill: var(--dl-color-gray-900);
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
}

.links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.nav11 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.nav21 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.nav31 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.nav41 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.nav51 {
    color: var(--dl-color-gray-black);
    margin-bottom: var(--dl-space-space-unit);
}

.buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.login1 {
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    margin-right: var(--dl-space-space-twounits);
    padding-left: 1.5rem;
    border-radius: 30px;
    padding-right: 1.5rem;
}

.register1 {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    border-color: var(--dl-color-primary1-blue100);
    border-width: 1px;
    padding-left: 1.5rem;
    border-radius: 30px;
    padding-right: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
}

.register1:hover {
    border-color: #849492ff;
    background-color: #849492ff;
}

.icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
}

.icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.hero {
    width: 100%;
    height: 925px;
    display: flex;
    opacity: 1;
    z-index: 100;
    position: relative;
    max-width: var(--dl-size-size-maxwidth);
    align-self: flex-end;
    min-height: auto;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
}

.container2 {
    right: 0px;
    width: 1170px;
    bottom: 96px;
    height: 814px;
    display: flex;
    position: absolute;
    align-self: center;
    align-items: flex-end;
    background-size: cover;
    justify-content: center;
    background-image: url("/shopv2-900h.png");
}

.btn-group {
    gap: var(--dl-space-space-oneandhalfunits);
    left: 0px;
    right: 0px;
    width: 535px;
    bottom: 26px;
    height: 86px;
    margin: auto;
    display: flex;
    position: absolute;
    align-self: flex-end;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
}

.hero-button1 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    transition: 0.3s;
    font-weight: bold;
    padding-top: 1.5rem;
    border-color: var(--dl-color-primary1-blue100);
    border-width: 0px;
    padding-left: 3rem;
    border-radius: 45px;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    background-color: #272727;
}

.hero-button1:hover {
    color: var(--dl-color-gray-white);
    border-color: rgba(41, 20, 119, 0.9);
    background-color: rgba(41, 20, 119, 0.9);
}

.hero-button2 {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    font-weight: bold;
    padding-top: var(--dl-space-space-unit);
    border-color: transparent;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    background-color: transparent;
}

.hero-button2:hover {
    border-color: var(--dl-color-gray-white);
}

.text {
    color: var(--dl-color-gray-black);
    align-self: center;
    text-align: center;
}

.banner {
    gap: var(--dl-space-space-oneandhalfunits);
    width: var(--dl-size-size-maxwidth);
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: flex-start;
    background-color: #D9D9D9;
}

.banner-heading {
    color: var(--dl-color-gray-white);
    text-align: center;
    font-family: "Raleway";
    line-height: 1.6;
}

.banner-sub-heading {
    color: var(--dl-color-gray-white);
    max-width: var(--dl-size-size-maxwidth);
    text-align: center;
    line-height: 1.6;
}

.banner-button {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    font-weight: 700;
    padding-top: 1.5rem;
    border-width: 0px;
    padding-left: 3rem;
    border-radius: 45px;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    background-color: var(--dl-color-primary1-blue100);
}

.banner-button:hover {
    border-color: rgba(41, 20, 119, 0.9);
    background-color: rgba(41, 20, 119, 0.9);
}

.details {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details1 {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: space-between;
}

.container3 {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.text1 {
    color: var(--dl-color-primary1-blue80);
    text-align: left;
    font-family: "Raleway";
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.details-heading {
    width: 80%;
    text-align: left;
    font-family: "Raleway";
    line-height: 1.6;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.details-sub-heading {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    text-align: left;
    line-height: 1.6;
    margin-bottom: var(--dl-space-space-twounits);
}

.details-image {
    width: 426px;
    height: 400px;
    object-fit: cover;
    margin-left: var(--dl-space-space-fourunits);
    border-radius: var(--dl-radius-radius-round);
}

.features {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery1 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
}

.gallery-heading {
    text-align: center;
    font-family: "Raleway";
    line-height: 1.6;
}

.gallery-sub-heading {
    color: rgb(153, 153, 153);
    text-align: center;
    line-height: 1.6;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
}

.container4 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-unit);
    margin-top: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container5 {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 316px;
    display: flex;
    align-items: flex-start;
    background-size: cover;
    background-image: url("/bpstik-kit-main-1400w.jpg");
}

.image1 {
    width: 264px;
    height: 295px;
    object-fit: cover;
}

.image2 {
    width: 297px;
    height: 308px;
    object-fit: cover;
}

.container6 {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 159px;
    display: flex;
    align-items: flex-start;
    background-size: cover;
    background-image: url("/nevoks-feelin-_a1-_kit-_main_-1400w.png");
}

.banner1 {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-gray-black);
}

.faq {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-gray-black);
}

.footer1 {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: space-between;
}

.container7 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.logo1 {
    color: var(--dl-color-gray-white);
    font-size: 2em;
    font-weight: bold;
}

.nav1 {
    flex: 0 0 auto;
    display: flex;
    margin-top: 0px;
    align-items: center;
    flex-direction: row;
}

.nav12 {
    color: var(--dl-color-secondary-gray500);
    margin-left: 0px;
}

.nav22 {
    color: var(--dl-color-secondary-gray500);
    margin-left: var(--dl-space-space-unit);
}

.nav32 {
    color: var(--dl-color-secondary-gray500);
    margin-left: var(--dl-space-space-unit);
}

.nav42 {
    color: var(--dl-color-secondary-gray500);
    margin-left: var(--dl-space-space-unit);
}

.nav52 {
    color: var(--dl-color-secondary-gray500);
    margin-left: var(--dl-space-space-unit);
}

.separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-800);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.container8 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.text4 {
    color: var(--dl-color-secondary-gray500);
}

.icon-group1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.icon10 {
    fill: var(--dl-color-secondary-gray500);
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
}

.icon12 {
    fill: var(--dl-color-secondary-gray500);
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
}

.icon14 {
    fill: var(--dl-color-secondary-gray500);
    width: 24px;
    height: 24px;
}

@media(max-width: 991px) {
    .hero {
        flex-direction: column;
    }

    .banner-sub-heading {
        max-width: 100%;
    }

    .details-sub-heading {
        text-align: center;
        padding-left: var(--dl-space-space-threeunits);
        padding-right: var(--dl-space-space-threeunits);
    }

    .gallery-sub-heading {
        text-align: center;
    }

    .container4 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 767px) {
    .navbar-interactive {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .desktop-menu {
        display: none;
    }

    .burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-menu {
        padding-top: var(--dl-space-space-oneandhalfunits);
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
        padding-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .nav11 {
        margin-bottom: var(--dl-space-space-unit);
    }

    .nav21 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .nav31 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .nav41 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .nav51 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .hero {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .banner {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .banner-sub-heading {
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }

    .details1 {
        align-items: center;
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
        flex-direction: column;
        justify-content: center;
    }

    .container3 {
        align-items: center;
        justify-content: flex-start;
    }

    .text1 {
        text-align: center;
    }

    .details-heading {
        text-align: center;
    }

    .details-sub-heading {
        text-align: center;
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }

    .details-image {
        margin-top: var(--dl-space-space-threeunits);
        margin-left: 0px;
    }

    .gallery1 {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .gallery-sub-heading {
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }

    .container4 {
        grid-template-columns: 1fr 1fr;
    }

    .footer1 {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .separator {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .container8 {
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .text4 {
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
}

@media(max-width: 479px) {
    .navbar-interactive {
        width: 90%;
        padding: var(--dl-space-space-unit);
    }

    .mobile-menu {
        padding: 16px;
    }

    .logo {
        font-size: 1.5em;
    }

    .icon02 {
        fill: var(--dl-color-gray-900);
    }

    .hero {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
    }

    .btn-group {
        flex-direction: column;
    }

    .hero-button2 {
        margin-top: var(--dl-space-space-unit);
        margin-left: 0px;
    }

    .banner {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
    }

    .gallery1 {
        padding: var(--dl-space-space-unit);
    }

    .container4 {
        grid-template-columns: 1fr;
    }

    .footer1 {
        padding: var(--dl-space-space-unit);
    }

    .separator {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .container8 {
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .text4 {
        text-align: center;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
}